@import 'es.css';

$color: rgb(44, 44, 232);

*{
    padding: 0;
    margin: 0;
    font: 17px sans-serif; 
}


#main-nav{
    background-color: $color;  

    img,input {
        padding: 15%;
        position: relative;
        width: 30px;
        height: auto;
        filter: brightness(0) invert(1);

    }
    ul{
        width:100%;
        height: 60px;
        
       
        &:after{
            content:"";
            display: block;
            clear: both;
        }
        
    
    #cierre{
        position: absolute;
        right: 0;
        clear: both;
    }
    #inicio{
        left: 0;
    }
    
    li:hover>ul{
        display: block;   
    }

    

    li{
        font-family: Verdana;
        font-weight: 500;
        text-align: center;
        line-height: 60px;
        cursor: default;
        list-style-type: none;
        position:relative;
        float:left;
        width: 100px;
        height: 60px;


        &:hover{
            background-color: darken($color,4);
        }
        
        ul{
            display: none;
            position: absolute;
            transition: all 0.6s ease;
            transform-style: preserve-3d;   
            li{
                background-color: $color; 
                float:none;
                display: block;
                &:hover{
                    background-color: darken($color, 5);
                }
                
            }
            
        }
        a, h1,input{
            cursor: default;
            text-decoration: none;
            
        }
        
        
    }
} 
}
//fin main-nav
#placa{
    padding: 0;
    text-align: center;
}

select{
    color: darkblue;
    border: 0px;
    outline: none;
}