@import 'es.css';

$color: rgb(44, 44, 232);

*{
    padding: 0;
    margin: 0;
    font: 17px sans-serif; 
}


#main-nav{
    background-color: $color;  
    border-top: solid 1px $color;
    
    img,input {
        padding: 15%;
        position: relative;
        width: 30px;
        height: auto;
        filter: brightness(0) invert(1);

    }
    ul{
        background-color: $color;
        width:100%;
        height: 60px;
        position:relative;
        color : white;
        &:after{
            content:"";
            display: block;
            clear: both;
        }
        
    
    #cierre{
        position: absolute;
        right: 0;
        padding-right: 0px;
        clear: both;
    }
    #inicio{
        left: 0;
    }
    
    li:hover>ul{
        display: block;   
    }

    

    li{
        font-family: Verdana;
        font-weight: 500;
        text-align: center;
        line-height: 60px;
        cursor: default;
        list-style-type: none;
        position:relative;
        float:left;
        width: 100px;
        height: 60px;


        &:hover{
            color: lighten($color,8);
        }
        
        ul{
            display: none;
            position: absolute;
            
            li{
                background-color: $color; 
                float:none;
                display: block;               
            }
            
            
        }
        li:last-child{
            -webkit-border-bottom-right-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-bottomright: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        a, h1,input{
            color : white;
            cursor: default;
            text-decoration: none;
            
        }
        
        
    }
} 
}
//fin main-nav
#placa{
    padding: 0;
    text-align: center;
}

select{
    color: darkblue;
    border: 0px;
    outline: none;
}

table{
    border: solid 1px violet;
    width: 100%;
    
    th{
        border-bottom: solid 1px darken(violet,5);
        color: white;
    }
    tr:nth-child(odd){
        background-color: lighten(violet, 8);
    }
    tr:nth-child(1){
        position: -webkit-sticky;
        position: sticky;
        background-color: black;
        &:after{
            content:"";
            display: block;
            clear: both;
        }
    }

}