@import 'es.css';

$color: rgba(37, 37, 206, 0.837);

*{
    padding: 0;
    margin: 0;
    font: 17px sans-serif; 
}


#main-nav{


    
    img{
        width: 25px;
        height: auto;

    }
    ul{
        width:100%;
        height: 60px;
         background-color: $color;
       
        &:after{
            content:"";
            display: block;
            clear: both;
        }
    }
    li:nth-child(4){
        position: absolute;
        right: 0;
    }
    li:nth-child(1){
        left: 0;
        height: 100%;
       
        
    }
    li:hover{
        background-color: darken($color,4);
        
    }

    li{
        font-size:7px;
        font-family: sans-serif;
        list-style-type: none;
        position:static;
        float:left;
        width: 14%;
        height: 60px;
    }
    a{
        text-decoration: none;
        padding:16px;
        display: block;
        text-align: center;
    }
}
