*{
padding: o;
margin: 0;
user-select: none; 

}

body{
    background-color: palevioletred;
    overflow: hidden;
    animation: dianoche 10s infinite;
  }


.wraper{

position: absolute;

transition: 0.6s;
transform-style: preserve-3d;
}


#div1{
    top: 20%;
    left: 5%;
}
#div2{
    top: 30%;
    left: 45%;
}
#div3{
    top: 40%;
    left: 20%;
    p{
        z-index: 1;
    }
    p:nth-child(n+3){
        position: absolute;
        left:80px;
        z-index: 0;
    }
    

}
#div4{
    top: 50%;
    left: 40%;
}
#div5{
    top: 65%;
    left: 50%;
}
//tamaño de P
$x:80px;
p{
    color: lightslategrey;
    position: relative;
    float: left;    
    background-color: white;
    text-align: center;    
    font-size: $x*0.8;
    height: $x;
    width: $x;
    line-height:$x;
    display: table-cell;
    transition: 0.6s;
}
$degrees:20deg;
#div1:hover{
    p{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
        0 6px 20px 0 rgba(0,0,0,0.19);
}
    p:nth-child(odd){
        transform: rotateZ(-$degrees)
                   scale(1.1);
        
    }
    p:nth-child(even){
        transform: rotateZ($degrees)
                    scale(1.1);
    }
}
#div2:hover{
    p{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
        0 6px 20px 0 rgba(0,0,0,0.19);
}
    p:nth-child(odd){
        transform: translate($x,0);
        
    }
   
}

#div3:hover{
    p{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
        0 6px 20px 0 rgba(0,0,0,0.19);
}
    p:nth-child(1){
        transform: translate($x,0);
        box-shadow: none;
        
    }
    p:nth-child(3){
        transform: translate(0,-$x);
    }
    
    p:nth-child(4){
        transform: translate(-$x*3);
    }
    p:nth-child(5){
        transform: translate(-$x*2);
    }
    p:nth-child(6){
        transform: translate(-$x);
    }
    p:nth-child(7){
        transform: translate($x);
    }
    p:nth-child(8){
        transform: translate($x*2);
    }
}

#div5:hover{
    p{
        box-shadow: 0 32px 64px 0 rgba(0,0,0,0.5),
        inset 0 6px 20px 0 rgba(0,0,0,0.19);
}
    p:nth-child(odd){
        transform: skewY(15deg)
        scale(1.01);
        color: darken(lightslategrey, 4);
        
    }
    p:nth-child(even){
        transform: skewY(-15deg)
        scale(1.01);
        color: lighten(lightslategrey, 6);
    }
}
$esfera: 180px;
$radio:180px;
.att{
    z-index: 2;
    background-color:white;
    height: $esfera;
    width: $esfera;
    position: absolute;
    right: 0%;
    bottom: 0%;
    -webkit-border-bottom-right-radius: $radio;
    -webkit-border-bottom-left-radius: $radio;
    -moz-border-radius-bottomright: $radio;
    -moz-border-radius-bottomleft: $radio;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-right-radius:$radio;
    -webkit-border-top-left-radius: $radio;
    -moz-border-radius-topright: $radio;
    -moz-border-radius-topleft: $radio;
    border-top-right-radius: 0;
    border-top-left-radius: $radio;
    
    box-shadow: 0 12px 32px 0 rgba(0,0,0,0.5);
    transition: 2s;
    p{
        position: relative;
        display: inline;
        bottom: -30%;
        left: 40%;
        transform: rotate(-45deg);
        transition:0.6s;
    }

}

.attcontainer:hover{
    .att{
    transform: rotate(90deg);
    transform-origin: 100% 100%;
       
    
    }
    .att2{
        box-shadow: none;
    
    }
}



.att2{
    z-index: 1;
    background-color:white;
    height: $esfera;
    width: $esfera;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-border-bottom-right-radius: $radio;
    -webkit-border-bottom-left-radius: $radio;
    -moz-border-radius-bottomright: $radio;
    -moz-border-radius-bottomleft: $radio;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-right-radius:$radio;
    -webkit-border-top-left-radius: $radio;
    -moz-border-radius-topright: $radio;
    -moz-border-radius-topleft: $radio;
    border-top-right-radius: 0;
    border-top-left-radius: $radio;
    box-shadow: inset 2px 1px 12px 0px rgba(0,0,0,0.5);
    transition: 0.6s;
    p{

        position: relative;
        display: inline;
        bottom: -50%;
        left: 20%;
        transform: rotate(-45deg)
        scale(0.8);

    }

}
$radiocloud:120px;

.cloud{
    position: fixed;
    top:-3%;
    box-shadow: inset 2px -7px 5px 0 rgba(0,0,0,0.1);
    will-change: auto;
    
    background-color:white;
    -webkit-border-bottom-right-radius: $radiocloud;
    -webkit-border-bottom-left-radius: $radiocloud;
    -moz-border-radius-bottomright: $radiocloud;
    -moz-border-radius-bottomleft: $radiocloud;
    border-bottom-right-radius: $radiocloud;
    border-bottom-left-radius: $radiocloud;
    -webkit-border-top-right-radius:$radiocloud;
    -webkit-border-top-left-radius: $radiocloud;
    -moz-border-radius-topright: $radiocloud;
    -moz-border-radius-topleft: $radiocloud;
    border-top-right-radius: $radiocloud;
    border-top-left-radius: $radiocloud;
    &:after{
        content:none;
        display: block;
        clear: both;
        }
   
    
}
.header{    
    position: absolute;
    
    top:0%;
    right: 0%;
    width: 100%;
    height: $radiocloud;
    border: solid 1px white;
}

.cloudcontainer{
    height: $radiocloud;
    width: 50%;
    float: left;

    .cloud{
        z-index: 0;
        animation: clouds1 2s infinite;
    }

    .cloud:nth-child(odd){
        height: $radiocloud*1.5;
        width: $radiocloud*1.5;
    }
    .cloud:nth-child(even){
        height: $radiocloud*1.4;
        width: $radiocloud*1.4;
    }
    $diferencia: 7%;
    .cloud:nth-child(1){
        left: -5%;
    }
    .cloud:nth-child(2){
        left:0%+$diferencia;
    }
    .cloud:nth-child(3){
        left:10%+$diferencia;
    }
    .cloud:nth-child(4){
        left:17%+$diferencia;
    }
    .cloud:nth-child(5){
        left:23%+$diferencia;
    }
    .cloud:nth-child(6){
        left:30%+$diferencia;
    }
    .cloud:nth-child(7){
        left:37%+$diferencia;
        height: $radiocloud ;
        width: $radiocloud  ;
    }
}
.cloudcontainer2{
    width: 49%;
    height: $radiocloud;
    float: right;

    .cloud{
        z-index: 2;
        animation: clouds2 2s infinite;
    }
    
    .cloud:nth-child(odd){
        height: $radiocloud*1.5;
        width: $radiocloud*1.5;
    }
    .cloud:nth-child(even){
        height: $radiocloud*1.4;
        width: $radiocloud*1.4;
    }
    $diferencia: 7%;
    .cloud:nth-child(1){
        right: -5%;
    }
    .cloud:nth-child(2){
        right:0%+$diferencia;
    }
    .cloud:nth-child(3){
        right:10%+$diferencia;
    }
    .cloud:nth-child(4){
        right:17%+$diferencia;
    }
    .cloud:nth-child(5){
        right:23%+$diferencia;
    }
    .cloud:nth-child(6){
        right:30%+$diferencia;
    }
    .cloud:nth-child(7){
        right:37%+$diferencia;
        height: $radiocloud ;
        width: $radiocloud  ;
    }
    &:after{
        content: none;
        display: block;
        clear: both;
    }
}

$distancia:20px;
@keyframes clouds1{
    0%{
        transform: translateY(0px)
        rotate(0deg);
    }
    50%{
        transform: translateY($distancia)
        rotateX(360deg);
        box-shadow: inset 2px -7px 5px 0 rgba(0,0,0,0.1),
        0 6px 20px 0 rgba(0,0,0,0.19);
        
    }
    100%{
        transform: translateY(0px)
        rotate(0deg);
    }

}

@keyframes clouds2{
    0%{
        transform: translateY($distancia);
        
        box-shadow: inset 2px -7px 5px 0 rgba(0,0,0,0.1),
        0 6px 20px 0 rgba(0,0,0,0.19);
    }
    50%{
        transform: translateY(0px);
        box-shadow: inset 2px -7px 5px 0 rgba(0,0,0,0.1);
        
    }
    100%{
        transform: translateY($distancia);
        
        box-shadow: inset 2px -7px 5px 0 rgba(0,0,0,0.1),
        0 6px 20px 0 rgba(0,0,0,0.19);
        
    }

}
 $radiocloud:600px;
.sun{
    z-index: 1;
    position: absolute;
    background-color: yellow;
    top:-500px;
    right:0px;
    width: $radiocloud;
    height: $radiocloud;
    will-change: transform, box-shadow;
    animation: sol 10s infinite;

    -webkit-border-bottom-right-radius: $radiocloud;
    -webkit-border-bottom-left-radius: $radiocloud;
    -moz-border-radius-bottomright: $radiocloud;
    -moz-border-radius-bottomleft: $radiocloud;
    border-bottom-right-radius: $radiocloud;
    border-bottom-left-radius: $radiocloud;
    -webkit-border-top-right-radius:$radiocloud;
    -webkit-border-top-left-radius: $radiocloud;
    -moz-border-radius-topright: $radiocloud;
    -moz-border-radius-topleft: $radiocloud;
    border-top-right-radius: $radiocloud;
    border-top-left-radius: $radiocloud;
 
}

@keyframes sol{
    0%{
        -webkit-transform: translate3d(0px , 0px);
    }
    50%{
        -webkit-transform: translate3d(0px , 200px, 0);
        box-shadow:  0px 0px 100px 50px rgba(255, 255, 0, 0.282);
   
    
    }
    100%{
        -webkit-transform: translate3d(0px , 0px);
    }
}


$radiocloud:400px;
.moon{
    z-index: 0;
    position: absolute;
    background-color: white;
    top:-500px;
    left:-100px;
    width: $radiocloud;
    height: $radiocloud;
    will-change: transform, box-shadow;
    animation: luna 10s infinite;

    -webkit-border-bottom-right-radius: $radiocloud;
    -webkit-border-bottom-left-radius: $radiocloud;
    -moz-border-radius-bottomright: $radiocloud;
    -moz-border-radius-bottomleft: $radiocloud;
    border-bottom-right-radius: $radiocloud;
    border-bottom-left-radius: $radiocloud;
    -webkit-border-top-right-radius:$radiocloud;
    -webkit-border-top-left-radius: $radiocloud;
    -moz-border-radius-topright: $radiocloud;
    -moz-border-radius-topleft: $radiocloud;
    border-top-right-radius: $radiocloud;
    border-top-left-radius: $radiocloud;
 
}
$shadow: 0px 0px 100px 50px rgba(255, 255, 255, 0.72);
@keyframes luna{
    0%{
        -webkit-transform: translate3d(0 , 300px, 0);
        box-shadow: $shadow;
    }
    50%{
        -webkit-transform: translate3d(0 , 0, 0);
        box-shadow: none;
    
    }
    100%{
        -webkit-transform: translate3d(0 , 300px, 0);
        box-shadow:  $shadow;
    }
}



@keyframes dianoche{
    0%{
        background-color: navy;
        background-image: url("./images/fondo.png");    
    }
    50%{
        background-color:palevioletred;
        
    
    }
    100%{
        background-color: navy;
        background-image: url("./images/fondo.png");        
    }
}