body{
    text-align: center
}

h1{
    font: bold 20px verdana, sans-serif;
    color:darkblue;
   }
h2{
    font: bold 14px verdana, sans-serif;
    color:darkblue;
   } 


p{
    font: sans-serif;
    font-size: 10px;
    color: blue;
}

footer{
    position: absolute;
    bottom:0;
    right: 0;
    text-align: right;
    font: sans-serif;
    font-size: 9px;
    
}

a{
    color:lightgreen;
}
a:visited{
    color: lightgreen;
    font: bold;
}

span{
    text-align: center;
    display: block;
    clear: none;
    font: bold 6px;
    color:blue;
    font-size: 7px;

}
span:hover{
    color: red;
}
.btn{
        background-color: rgb(71, 165, 74);
        font: bold 20px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
                0 6px 20px 0 rgba(0,0,0,0.19);
        border: none;
        color: white;
        padding: 5px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font: bold 16px;
}
.btn:active{
    background-color: rgb(57, 145, 60);
     box-shadow: none;   
}

div{
    border: 0px solid #000000;
    }

div.form-group{
    padding: 10px;
}

div.wrapper{
    margin: auto;
    width: 50%;
    padding: 0px;
    padding-top: 50px;
    
}
input.form-control{
    border:none;
    border-bottom: 1px groove rgba(0,0,0,0.19);
    padding-left: 40px;
    size: 300px 300px;
}
input.form-control:hover{
    border-bottom: 2px solid rgb(57, 145, 60); 
}
input.form-control:focus{
    border-bottom: 2px solid rgb(8, 5, 196);
    outline:none;
}
input.form-control:active{
    border-bottom: 2px solid white;
    outline:none;
}


#usuario{
    background-image: url('user-icon.png');
    background-size: auto 70%;
    background-position: 1px 5px; 
    background-repeat: no-repeat;
}
#contraseña{
    background-image: url('password-icon.png');
    background-position: 4px 4px; 
    background-repeat: no-repeat;
    background-size: auto 70%;
}
