@import url(es.css);
* {
  padding: 0;
  margin: 0;
  font: 17px sans-serif;
}

#main-nav {
  background-color: #2c2ce8;
  border-top: solid 1px #2c2ce8;
}

#main-nav img, #main-nav input {
  padding: 15%;
  position: relative;
  width: 30px;
  height: auto;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

#main-nav ul {
  background-color: #2c2ce8;
  width: 100%;
  height: 60px;
  position: relative;
  color: white;
}

#main-nav ul:after {
  content: "";
  display: block;
  clear: both;
}

#main-nav ul #cierre {
  position: absolute;
  right: 0;
  padding-right: 0px;
  clear: both;
}

#main-nav ul #inicio {
  left: 0;
}

#main-nav ul li:hover > ul {
  display: block;
}

#main-nav ul li {
  font-family: Verdana;
  font-weight: 500;
  text-align: center;
  line-height: 60px;
  cursor: default;
  list-style-type: none;
  position: relative;
  float: left;
  width: 100px;
  height: 60px;
}

#main-nav ul li:hover {
  color: #5151ec;
}

#main-nav ul li ul {
  display: none;
  position: absolute;
}

#main-nav ul li ul li {
  background-color: #2c2ce8;
  float: none;
  display: block;
}

#main-nav ul li li:last-child {
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#main-nav ul li a, #main-nav ul li h1, #main-nav ul li input {
  color: white;
  cursor: default;
  text-decoration: none;
}

#placa {
  padding: 0;
  text-align: center;
}

select {
  color: darkblue;
  border: 0px;
  outline: none;
}
