@import url(es.css);
* {
  padding: 0;
  margin: 0;
  font: 17px sans-serif;
}

#main-nav {
  background-color: #2c2ce8;
  position: relative;
  top: 0;
}

#main-nav img, #main-nav input {
  padding: 15%;
  position: relative;
  width: 30px;
  height: auto;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

#main-nav ul {
  width: 100%;
  height: 60px;
}

#main-nav ul:after {
  content: "";
  display: block;
  clear: both;
}

#main-nav ul #cierre {
  position: absolute;
  right: 0;
  clear: both;
}

#main-nav ul #inicio {
  left: 0;
}

#main-nav ul li:hover > ul {
  display: block;
}

#main-nav ul li {
  font-family: Verdana;
  font-weight: 500;
  text-align: center;
  line-height: 60px;
  cursor: default;
  list-style-type: none;
  position: relative;
  float: left;
  width: 100px;
  height: 60px;
}

#main-nav ul li:hover {
  background-color: #1a1ae6;
}

#main-nav ul li ul {
  display: none;
  position: absolute;
  transition: all 0.6s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#main-nav ul li ul li {
  background-color: #2c2ce8;
  float: none;
  display: block;
}

#main-nav ul li ul li:hover {
  background-color: #1919e2;
}

#main-nav ul li a, #main-nav ul li h1, #main-nav ul li input {
  cursor: default;
  text-decoration: none;
}

#placa {
  padding: 0;
  text-align: center;
}

select {
  color: darkblue;
  border: 0px;
  outline: none;
}
