* {
  padding: o;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: palevioletred;
  overflow: hidden;
  -webkit-animation: dianoche 10s infinite;
          animation: dianoche 10s infinite;
}

.wraper {
  position: absolute;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#div1 {
  top: 20%;
  left: 5%;
}

#div2 {
  top: 30%;
  left: 45%;
}

#div3 {
  top: 40%;
  left: 20%;
}

#div3 p {
  z-index: 1;
}

#div3 p:nth-child(n+3) {
  position: absolute;
  left: 80px;
  z-index: 0;
}

#div4 {
  top: 50%;
  left: 40%;
}

#div5 {
  top: 65%;
  left: 50%;
}

p {
  color: lightslategrey;
  position: relative;
  float: left;
  background-color: white;
  text-align: center;
  font-size: 64px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  display: table-cell;
  transition: 0.6s;
}

#div1:hover p {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#div1:hover p:nth-child(odd) {
  -webkit-transform: rotateZ(-20deg) scale(1.1);
          transform: rotateZ(-20deg) scale(1.1);
}

#div1:hover p:nth-child(even) {
  -webkit-transform: rotateZ(20deg) scale(1.1);
          transform: rotateZ(20deg) scale(1.1);
}

#div2:hover p {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#div2:hover p:nth-child(odd) {
  -webkit-transform: translate(80px, 0);
          transform: translate(80px, 0);
}

#div3:hover p {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#div3:hover p:nth-child(1) {
  -webkit-transform: translate(80px, 0);
          transform: translate(80px, 0);
  box-shadow: none;
}

#div3:hover p:nth-child(3) {
  -webkit-transform: translate(0, -80px);
          transform: translate(0, -80px);
}

#div3:hover p:nth-child(4) {
  -webkit-transform: translate(-240px);
          transform: translate(-240px);
}

#div3:hover p:nth-child(5) {
  -webkit-transform: translate(-160px);
          transform: translate(-160px);
}

#div3:hover p:nth-child(6) {
  -webkit-transform: translate(-80px);
          transform: translate(-80px);
}

#div3:hover p:nth-child(7) {
  -webkit-transform: translate(80px);
          transform: translate(80px);
}

#div3:hover p:nth-child(8) {
  -webkit-transform: translate(160px);
          transform: translate(160px);
}

#div5:hover p {
  box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.5), inset 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#div5:hover p:nth-child(odd) {
  -webkit-transform: skewY(15deg) scale(1.01);
          transform: skewY(15deg) scale(1.01);
  color: #6c7e90;
}

#div5:hover p:nth-child(even) {
  -webkit-transform: skewY(-15deg) scale(1.01);
          transform: skewY(-15deg) scale(1.01);
  color: #8897a6;
}

.att {
  z-index: 2;
  background-color: white;
  height: 180px;
  width: 180px;
  position: absolute;
  right: 0%;
  bottom: 0%;
  -webkit-border-bottom-right-radius: 180px;
  -webkit-border-bottom-left-radius: 180px;
  -moz-border-radius-bottomright: 180px;
  -moz-border-radius-bottomleft: 180px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-right-radius: 180px;
  -webkit-border-top-left-radius: 180px;
  -moz-border-radius-topright: 180px;
  -moz-border-radius-topleft: 180px;
  border-top-right-radius: 0;
  border-top-left-radius: 180px;
  box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.5);
  transition: 2s;
}

.att p {
  position: relative;
  display: inline;
  bottom: -30%;
  left: 40%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: 0.6s;
}

.attcontainer:hover .att {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.attcontainer:hover .att2 {
  box-shadow: none;
}

.att2 {
  z-index: 1;
  background-color: white;
  height: 180px;
  width: 180px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-border-bottom-right-radius: 180px;
  -webkit-border-bottom-left-radius: 180px;
  -moz-border-radius-bottomright: 180px;
  -moz-border-radius-bottomleft: 180px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-right-radius: 180px;
  -webkit-border-top-left-radius: 180px;
  -moz-border-radius-topright: 180px;
  -moz-border-radius-topleft: 180px;
  border-top-right-radius: 0;
  border-top-left-radius: 180px;
  box-shadow: inset 2px 1px 12px 0px rgba(0, 0, 0, 0.5);
  transition: 0.6s;
}

.att2 p {
  position: relative;
  display: inline;
  bottom: -50%;
  left: 20%;
  -webkit-transform: rotate(-45deg) scale(0.8);
          transform: rotate(-45deg) scale(0.8);
}

.cloud {
  position: fixed;
  top: -3%;
  box-shadow: inset 2px -7px 5px 0 rgba(0, 0, 0, 0.1);
  will-change: auto;
  background-color: white;
  -webkit-border-bottom-right-radius: 120px;
  -webkit-border-bottom-left-radius: 120px;
  -moz-border-radius-bottomright: 120px;
  -moz-border-radius-bottomleft: 120px;
  border-bottom-right-radius: 120px;
  border-bottom-left-radius: 120px;
  -webkit-border-top-right-radius: 120px;
  -webkit-border-top-left-radius: 120px;
  -moz-border-radius-topright: 120px;
  -moz-border-radius-topleft: 120px;
  border-top-right-radius: 120px;
  border-top-left-radius: 120px;
}

.cloud:after {
  content: none;
  display: block;
  clear: both;
}

.header {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 120px;
  border: solid 1px white;
}

.cloudcontainer {
  height: 120px;
  width: 50%;
  float: left;
}

.cloudcontainer .cloud {
  z-index: 0;
  -webkit-animation: clouds1 2s infinite;
          animation: clouds1 2s infinite;
}

.cloudcontainer .cloud:nth-child(odd) {
  height: 180px;
  width: 180px;
}

.cloudcontainer .cloud:nth-child(even) {
  height: 168px;
  width: 168px;
}

.cloudcontainer .cloud:nth-child(1) {
  left: -5%;
}

.cloudcontainer .cloud:nth-child(2) {
  left: 7%;
}

.cloudcontainer .cloud:nth-child(3) {
  left: 17%;
}

.cloudcontainer .cloud:nth-child(4) {
  left: 24%;
}

.cloudcontainer .cloud:nth-child(5) {
  left: 30%;
}

.cloudcontainer .cloud:nth-child(6) {
  left: 37%;
}

.cloudcontainer .cloud:nth-child(7) {
  left: 44%;
  height: 120px;
  width: 120px;
}

.cloudcontainer2 {
  width: 49%;
  height: 120px;
  float: right;
}

.cloudcontainer2 .cloud {
  z-index: 2;
  -webkit-animation: clouds2 2s infinite;
          animation: clouds2 2s infinite;
}

.cloudcontainer2 .cloud:nth-child(odd) {
  height: 180px;
  width: 180px;
}

.cloudcontainer2 .cloud:nth-child(even) {
  height: 168px;
  width: 168px;
}

.cloudcontainer2 .cloud:nth-child(1) {
  right: -5%;
}

.cloudcontainer2 .cloud:nth-child(2) {
  right: 7%;
}

.cloudcontainer2 .cloud:nth-child(3) {
  right: 17%;
}

.cloudcontainer2 .cloud:nth-child(4) {
  right: 24%;
}

.cloudcontainer2 .cloud:nth-child(5) {
  right: 30%;
}

.cloudcontainer2 .cloud:nth-child(6) {
  right: 37%;
}

.cloudcontainer2 .cloud:nth-child(7) {
  right: 44%;
  height: 120px;
  width: 120px;
}

.cloudcontainer2:after {
  content: none;
  display: block;
  clear: both;
}

@-webkit-keyframes clouds1 {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(20px) rotateX(360deg);
            transform: translateY(20px) rotateX(360deg);
    box-shadow: inset 2px -7px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
}

@keyframes clouds1 {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(20px) rotateX(360deg);
            transform: translateY(20px) rotateX(360deg);
    box-shadow: inset 2px -7px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
}

@-webkit-keyframes clouds2 {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    box-shadow: inset 2px -7px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    box-shadow: inset 2px -7px 5px 0 rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    box-shadow: inset 2px -7px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@keyframes clouds2 {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    box-shadow: inset 2px -7px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    box-shadow: inset 2px -7px 5px 0 rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    box-shadow: inset 2px -7px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.sun {
  z-index: 1;
  position: absolute;
  background-color: yellow;
  top: -500px;
  right: 0px;
  width: 600px;
  height: 600px;
  will-change: transform, box-shadow;
  -webkit-animation: sol 10s infinite;
          animation: sol 10s infinite;
  -webkit-border-bottom-right-radius: 600px;
  -webkit-border-bottom-left-radius: 600px;
  -moz-border-radius-bottomright: 600px;
  -moz-border-radius-bottomleft: 600px;
  border-bottom-right-radius: 600px;
  border-bottom-left-radius: 600px;
  -webkit-border-top-right-radius: 600px;
  -webkit-border-top-left-radius: 600px;
  -moz-border-radius-topright: 600px;
  -moz-border-radius-topleft: 600px;
  border-top-right-radius: 600px;
  border-top-left-radius: 600px;
}

@-webkit-keyframes sol {
  0% {
    -webkit-transform: translate3d(0px, 0px);
  }
  50% {
    -webkit-transform: translate3d(0px, 200px, 0);
    box-shadow: 0px 0px 100px 50px rgba(255, 255, 0, 0.282);
  }
  100% {
    -webkit-transform: translate3d(0px, 0px);
  }
}

@keyframes sol {
  0% {
    -webkit-transform: translate3d(0px, 0px);
  }
  50% {
    -webkit-transform: translate3d(0px, 200px, 0);
    box-shadow: 0px 0px 100px 50px rgba(255, 255, 0, 0.282);
  }
  100% {
    -webkit-transform: translate3d(0px, 0px);
  }
}

.moon {
  z-index: 0;
  position: absolute;
  background-color: white;
  top: -500px;
  left: -100px;
  width: 400px;
  height: 400px;
  will-change: transform, box-shadow;
  -webkit-animation: luna 10s infinite;
          animation: luna 10s infinite;
  -webkit-border-bottom-right-radius: 400px;
  -webkit-border-bottom-left-radius: 400px;
  -moz-border-radius-bottomright: 400px;
  -moz-border-radius-bottomleft: 400px;
  border-bottom-right-radius: 400px;
  border-bottom-left-radius: 400px;
  -webkit-border-top-right-radius: 400px;
  -webkit-border-top-left-radius: 400px;
  -moz-border-radius-topright: 400px;
  -moz-border-radius-topleft: 400px;
  border-top-right-radius: 400px;
  border-top-left-radius: 400px;
}

@-webkit-keyframes luna {
  0% {
    -webkit-transform: translate3d(0, 300px, 0);
    box-shadow: 0px 0px 100px 50px rgba(255, 255, 255, 0.72);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
    box-shadow: none;
  }
  100% {
    -webkit-transform: translate3d(0, 300px, 0);
    box-shadow: 0px 0px 100px 50px rgba(255, 255, 255, 0.72);
  }
}

@keyframes luna {
  0% {
    -webkit-transform: translate3d(0, 300px, 0);
    box-shadow: 0px 0px 100px 50px rgba(255, 255, 255, 0.72);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
    box-shadow: none;
  }
  100% {
    -webkit-transform: translate3d(0, 300px, 0);
    box-shadow: 0px 0px 100px 50px rgba(255, 255, 255, 0.72);
  }
}

@-webkit-keyframes dianoche {
  0% {
    background-color: navy;
    background-image: url("./images/fondo.png");
  }
  50% {
    background-color: palevioletred;
  }
  100% {
    background-color: navy;
    background-image: url("./images/fondo.png");
  }
}

@keyframes dianoche {
  0% {
    background-color: navy;
    background-image: url("./images/fondo.png");
  }
  50% {
    background-color: palevioletred;
  }
  100% {
    background-color: navy;
    background-image: url("./images/fondo.png");
  }
}
